<% if @user_support.errors.any? %>
  <ul>
    <% @user_support.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user_support do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %> 
  <br>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <br>
  <%= f.label :department %>
  <%= f.radio_button :department, "Sales", :checked => true %>
  <%= f.label :"Sales", "Sales", :value => "Sales" %> 
  <%= f.radio_button :department, "Marketing" %>
  <%= f.label :department, "Marketing", :value => "Marketing" %>
  <%= f.radio_button :department, "Technical" %>
  <%= f.label :department, "Technical", :value => "Technical" %>
  <br>
  <%= f.submit %>
<% end %>